:host {
  position: absolute;
  right: 0; bottom: calc(50% - 44px);
  transform: translateY(50%);
  font-size: 12px;
  line-height: 1;
  color: rgba(255, 255, 255, .5);
  background-color: rgba(0, 0, 0, .3);
  border-radius: 20px;
  padding: 20px 0;
}

.nav-item {
  padding: 3px;
  text-align: center;
}

.active {
  color: #ffcd32;
}