<div class="normal-player-background" [style.background-image]="'url(' + currentSong?.image + ')'"></div>
<div class="normal-player-hd">
  <i class="icon-back" (click)="onClose()"></i>
  <div class="song-name">{{ currentSong?.name }}</div>
  <div class="song-author">{{ currentSong?.singer }}</div>
</div>
<div class="normal-player-bd" (click)="onSwitchLyric()">
  <div class="cd-turning" [class.show]="!showLyric">
    <app-cd-circle [imgUrl]="currentSong?.image" [playing]="playing"></app-cd-circle>
    <div class="mini-lyric">{{currentLyric || '歌词加载中'}}</div>
  </div>
  <div class="normal-lyric" [class.show]="showLyric" #lyricRef>
    <div class="normal-lyric-item" [class.active]="i === curNum" *ngFor="let lyric of lyricList; index as i">{{lyric.txt}}</div>
  </div>
</div>
<div class="normal-player-ft">
  <app-progress-bar [progress]="progress" [duration]="currentSong?.duration" (changed)="onChangedProgress($event)" (move)="onMoveProgress($event)"></app-progress-bar>
  <div class="normal-player-btn-group">
    <i [class]="'icon-' + playMode" (click)="onSwitchMode()"></i>
    <i class="icon-prev" (click)="onPrevSong()"></i>
    <i [ngClass]="playing ? 'icon-pause' : 'icon-play'" class="fs-40" (click)="onPlayOrPause()"></i>
    <i class="icon-next" (click)="onNextSong()"></i>
    <i [class]="currentSong?.favorite ? 'icon-favorite c-red' : 'icon-not-favorite'" (click)="onSwitchFavorite()"></i>
  </div>
</div>
<audio
  #audio
  [src]="currentSong?.url"
  (canplay)="onCanPlay()"
  (pause)="onPause()"
  (playing)="onPlaying()"
  (ended)="onEnded()"
  (timeupdate)="onTimeUpdate($event)" >
</audio>