<div class="container" (scroll)="onScroll($event, coverRef.offsetHeight)">
  <div class="hd" [class.bg222]="showBg">
    <i class="icon-back" (click)="onBack()"></i>
    <span class="hd-content">脱单指南 : 从蹦迪开始</span>
  </div>
  <div class="play-btn">
    <i class="icon-play"></i>
    随机播放全部
  </div>
  <div #coverRef class="cover" [style.backgroundImage]="'url(' + cover + ')'"></div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
  <div class="song">
    <div class="song-name">Inferno</div>
    <div class="singer">Quintino·Inferno</div>
  </div>
</div>