.app-main {
  overflow: auto;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.app-loading {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.app-box {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}