<div class="singer-container" [scrollTop]="scrollTop" (scroll)="onScroll($event)">
  <div class="singer-title pf">{{ groupTitle }}</div>
  <ng-container *ngFor="let group of singerList">
    <div class="singer-title" #groupTitles>{{ group.title }}</div>
    <div class="singer-item" [routerLink]="['/singer', singer.Fsinger_mid]" *ngFor="let singer of group.list">
      <img class="singer-avatar" [src]="singer.avatar" [alt]="singer.Fsinger_name">
      <span class="singer-name">{{ singer.Fsinger_name }}</span>
    </div>
  </ng-container>
</div>
<app-nav-bar [list]="singerList" [active]="active" (selected)="onSelectedOfNavBar($event)"></app-nav-bar>
<router-outlet></router-outlet>