<div class="playlist-main">
  <div class="playlist-hd">
    <i [class]="'icon-' + playMode" (click)="onSwitchPlayMode()"></i>
    <span class="play-mode">{{ translatePlayMode }}</span>
    <i class="icon-clear"></i>
  </div>
  <div class="playlist-content">
    <div class="playlist-item" *ngFor="let song of currentList; index as i">
      <i class="icon-play" [style.opacity]="i !== currentIndex ? '0' : '1'"></i>
      <span class="song-name">{{ song.name }}</span>
      <i [class]="song.favorite ? 'icon-favorite' : 'icon-not-favorite'"></i>
      <i class="icon-delete"></i>
    </div>
  </div>
  <div class="add-song-btn" (click)="onAddSong()">
    <i class="icon-add"></i>
    <span>添加歌曲到队列</span>
  </div>
  <div class="close-btn" (click)="onClose()">关闭</div>
</div>