<app-input [(value)]="searchValue" placeholder="输入歌手或者歌曲名"></app-input>
<div class="recorded-content">
  <div class="hot">
    <div class="title mb-20 mt-8">热门搜索</div>
    <span class="tag" *ngFor="let key of hotkey" (click)="searchValue = key?.k">{{ key?.k }}</span>
  </div>
  <div class="history">
    <div class="title mb-6">
      <span>搜索历史</span>
      <i class="icon-clear"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
    <div class="history-item">
      <span>哇哇哇</span>
      <i class="icon-delete"></i>
    </div>
  </div>
</div>